body {
	background-image: url(../img/background.jpg);
    font-family: "Aharoni", sans-serif;
    font-size: 31px;
    line-height: 1.4;
    margin: 0;
}

.main-menu {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    background: white;
    border: 1px solid #d5d5d5;
    height: 41px;
    position: fixed;
    left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	}

.main-menu li {
	display: inline;
	margin-right: 25px;
	}

.main-menu a {
	text-decoration: none;
	color: #888888;
	vertical-align: top;
	}

.main-menu img.main-page {
	height: 44px;
	width: 63px;
	margin-top: -2px;
	}

.main-menu .active {
	color: black;
	}

.button-start {
	top: 50%;
	left: 50%;
	width: 180px;
	height: 90px;
	position: absolute;
	margin-top: -25px;
	margin-left: -100px;
	background: black;
	box-shadow: 3px 4px 16px -8px #000000;
	}

.button-start > a {
	font-size: 25px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-decoration: none;
	color: white;
	padding-left: 50px;
	padding-top: 15px;
	}

.about {
	margin-top: 80px;
	margin-bottom: 40px;
	margin-left: 20%;
	margin-right: 20%;
	}

.about > img {
	max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
	}

.top-list {
	font-size: 40px;
	margin-top: 80px;
	margin-left: 40px;
	}